<html>
<head>
    <title>Admin Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="javascripts/libs/socket.io.js"></script>
    <script src="javascripts/adminMain.js"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_fb5Xm0-FDlv2DqM35wvU0SCKaaZ5lWo&callback=initMap">
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="title-header">LocateMe</h1>
            <h2 style="margin-bottom:-20px;">Admin Dashboard</h2>
        </div>
    </div>
    <a href="/logout" class="redirect-link"><button id="btn-logout" class="btn btn-primary">Logout</button></a>
    <a href="/" class="redirect-link"><button id="btn-return-to-main" class="btn btn-primary">Return to Main</button></a>
    <br><br><br>
    <div class="row">
        <div id="map" class="col-lg-12 col-md-12 col-sm-12"></div>
    </div>
    <br><br>
</div>
</body>
</html>